
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/*shared style*/
.color1{
    color:#4E47FF;
}

.bttn{
    border-radius: 10px;
    background-color:#4E47FF;
    color:aliceblue;
    padding: 12px 37px;
    border:0;
}
.bttn:hover{
    background-color: rgb(34, 170, 224);
    color:black;
}



/* header style */
header{
background-image: url('../Assets/Hero-bg.png') ;
height


}



/* nav style */

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding-top:50px

}
nav ul li{
    list-style: none;
}
.logo{
    font-size: 34px;
    font-weight:bolder;

}


/* banner style*/
.banner-content{
    text-align: center;
    padding: 309px 267.5px 237px 267.5px;

}
.banner-description{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}
/*main style*/
main{
    margin: 58px 149px 58px 151px;
}
/*action style*/
.action{
    display: flex;
    justify-content: space-around;
}
.action-title{
    color:#252432;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 23px;
}
.action-content{
    text-align: left;
    margin-top: 100px;
    margin-right: 220px;
}
.action-description{
    color: rgba(37, 36, 50, 0.5);
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 23px;
}
.pic{
    border-radius: 48px;
}